.icon {
  position: absolute;
  top: 2603px;
  left: 0px;
  width: 1920px;
  height: 895px;
  object-fit: cover;
  opacity: 0.5;
}
.div1 {
  position: absolute;
  top: 2101px;
  left: 0px;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  width: 1920px;
  height: 895px;
}
.normavalerie438462-create-a-br-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1005px;
  object-fit: cover;
  opacity: 0.43;
}
.child {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(180deg, #e6eeff, rgba(255, 255, 255, 0));
  width: 1920px;
  height: 898px;
}
.item {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f9fbff;
  width: 1920px;
  height: 920px;
  display: none;
}
.ai {
  position: absolute;
  top: 436px;
  left: calc(50% - 383px);
  text-align: center;
}
.div2 {
  position: absolute;
  top: 514px;
  left: calc(50% - 250px);
  font-size: 25px;
  text-align: center;
}
.ai90 {
  position: absolute;
  top: 1744px;
  left: calc(50% - 800px);
  font-size: 18px;
  display: inline-block;
  width: 1600px;
}
.lstm {
  position: absolute;
  top: 2528px;
  left: calc(50% - 800px);
  font-size: 18px;
  display: inline-block;
  width: 1600px;
}
.ai1 {
  position: absolute;
  top: 1348px;
  left: calc(50% - 800px);
  font-size: 18px;
  display: inline-block;
  width: 680px;
}
.p {
  margin: 0;
}
.b {
  position: absolute;
  top: 1162px;
  left: 160px;
}
.ai2 {
  position: absolute;
  top: 2928px;
  left: 359px;
  text-align: center;
}
.inner {
  position: absolute;
  top: 1187px;
  left: 944px;
  background-color: #d9d9d9;
  width: 408px;
  height: 224px;
}
.rectangle-div {
  position: absolute;
  top: 1435px;
  left: 1061px;
  background-color: #d9d9d9;
  width: 291px;
  height: 160px;
}
.child1 {
  position: absolute;
  top: 1440px;
  left: 1384px;
  background-color: #d9d9d9;
  width: 376px;
  height: 208px;
}
.child2 {
  position: absolute;
  top: 1000px;
  left: 1061px;
  background-color: #d9d9d9;
  width: 291px;
  height: 160px;
}
.child3 {
  position: absolute;
  top: 1000px;
  left: 1384px;
  background-color: #d9d9d9;
  width: 376px;
  height: 424px;
}
.child4 {
  position: absolute;
  top: 1856px;
  left: 296px;
  background-color: #d9d9d9;
  width: 376px;
  height: 496px;
}
.child5 {
  position: absolute;
  top: 1856px;
  left: 772px;
  background-color: #d9d9d9;
  width: 376px;
  height: 496px;
}
.child6 {
  position: absolute;
  top: 1856px;
  left: 1248px;
  background-color: #d9d9d9;
  width: 376px;
  height: 496px;
}
.ellipse-div {
  position: absolute;
  top: 24px;
  left: 1704px;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 56px;
  height: 56px;
}
.ai4 {
  position: absolute;
  top: 1664px;
  left: 160px;
  font-size: 36px;
  font-weight: 500;
}
.div3 {
  position: absolute;
  top: 2448px;
  left: 160px;
  font-size: 36px;
  font-weight: 500;
}
.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(90deg, #f6fafd, #c6e1fc 48.4%, #f6fafd);
  width: 1920px;
  height: 200px;
}
.p3 {
  margin: 0;
  white-space: pre-wrap;
}
.icp2022033792-1 {
  position: absolute;
  top: 70px;
  left: calc(50% - 316px);
}
.rectangle-parent {
  position: absolute;
  top: 3424px;
  left: 0px;
  width: 1920px;
  height: 200px;
  text-align: center;
  font-size: 14px;
  color: #366ef4;
}
.logo-text {
  position: absolute;
  top: 15.63%;
  left: 39.26%;
  width: 100%;
}
.logo-png-icon {
  position: absolute;
  width: 32.35%;
  top: 0px;
  right: 67.65%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  height: 52.3px;
  object-fit: cover;
}
.logo {
  width: 176.2px;
  position: relative;
  height: 52.3px;
}
.b1 {
  position: relative;
  width: 100px;
}
.nav-button {
  border-radius: 8px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px 26px;
  box-sizing: border-box;
}
.nav-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav-button4 {
  border-radius: 8px;
  background-color: #366ef4;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px 26px;
  box-sizing: border-box;
}
.nav-button-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}
.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 51px;
  font-size: 18px;
  color: #171717;
  font-family: 'Source Han Sans CN';
}
.user-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.avatar {
  width: 56px;
  border-radius: 48px;
  background-color: #d9e1ff;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.logo-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 184px;
}
.navbar-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 160px;
  box-sizing: border-box;
}
.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 100px;
  font-size: 28.83px;
  color: #366ef4;
  font-family: YouSheBiaoTiHei;
}
.div {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 3624px;
  overflow-y: auto;
  text-align: left;
  font-size: 48px;
  color: #000;
  font-family: 'Source Han Sans CN';
}

